.coin_tracker{
  margin-top: .5em;
}

.title_container{
  display: flex;
  justify-content: center;
}

.title{
  text-align: center;
  margin-right: 0.3em;
  font-size: 25px;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.btnRefresh{
  font-size: 20px;
  color: black;
  cursor: pointer;
  z-index: 1;
  margin-top: 1.2em;
}

.btnRefresh :hover{
  color: gold;
}

.quotes{
  padding: 0;
  width: 95%;
  height: 460px;
  margin: 0 auto;
}

.category{
  color: rgb(255, 255, 255);
  font-size: 14px;
  display: flex;
  list-style: none;
  text-align: center;
  width: 95%;
  margin: 0 auto;
  font-weight: bold;
}
.name{
  min-width: 85px;
}
.symbol{
  min-width: 80px;
}
.price{
  min-width: 130px;
}
.priceChange{
  min-width: 100px;
}