.line {
  color: rgb(245, 245, 245);
  display: flex;
  font-size: 14px;
  text-align: center;
  border-radius: 20px;
  margin: .3em auto;
  width: 95%;
  background-color: rgb(0, 0, 0);
  box-shadow: rgb(228, 237, 248) 0px 10px 30px -10px;
}

.line li{
  margin: .3em 0;
  list-style: none;
  width: 100%;
  padding: .2em;
}

.line li:not(:last-child){
  border-right: .1px solid rgb(214, 214, 214);
}

.name{
  min-width: 70px;
}
.symbol{
  min-width: 70px;
}
.quantity{
  min-width: 110px;
}
.purchased{
  min-width: 120px;
}
.current{
  min-width: 120px;
}
.earning{
  min-width: 100px;
}
.percentage{
  min-width: 80px;
}

.percentage.green, .earning.green{
  color: green;
}
.percentage.red, .earning.red{
  color: red;
}

@media screen and (min-width: 900px) and (max-width: 1200px) { 
  .name{
    display: none;
  }

}