
.logout{
  cursor: pointer;
}

.main{
  margin: 0 auto;
  width: 90%;
  height: 530px;
  display: flex;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
  rgba(0, 0, 0, 0.12) 0px -12px 30px, 
  rgba(0, 0, 0, 0.12) 0px 4px 6px, 
  rgba(0, 0, 0, 0.17) 0px 12px 13px, 
  rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.left {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.total {
  border-radius: 15px;
  margin: 0 auto;
  width: 95%;
  height: 48%;
  position: relative;  
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.profit {
  border-radius: 15px;
  margin: 0 auto;
  width: 95%;
  height: 48%;
  position: relative; 
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.right {
  position: relative;
  width: 40%;
  display: flex;
  margin-top: 8px;
}

.market{
  border-radius: 15px;
  width: 96%;
  height: 98.7%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.records{
  position: absolute;
  border-radius: 15px;
  width: 96%;
  height: 98.7%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@media screen and (min-width: 1200px) { 
  .main{
    margin: 0 auto;
    width: 1150px;
    height: 530px;
    display: flex;
    border-radius: 25px;
    border: 1px solid red;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
    rgba(0, 0, 0, 0.12) 0px -12px 30px, 
    rgba(0, 0, 0, 0.12) 0px 4px 6px, 
    rgba(0, 0, 0, 0.17) 0px 12px 13px, 
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

}

@media screen and (min-width: 900px) and (max-width: 1200px) { 
  .main{
    margin: 0 auto;
    width: 950px;
    height: 530px;
    display: flex;
    border-radius: 25px;
    border: 1px solid yellow;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
    rgba(0, 0, 0, 0.12) 0px -12px 30px, 
    rgba(0, 0, 0, 0.12) 0px 4px 6px, 
    rgba(0, 0, 0, 0.17) 0px 12px 13px, 
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  .left {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .right {
    position: relative;
    width: 35%;
    display: flex;
    margin-top: 8px;
  }
  

}




@media screen and (min-width: 600px) and (max-width: 900px){ 
  .main{
    margin: 0 auto;
    width: 750px;
    height: 530px;
    display: flex;
    border-radius: 25px;
    border: 1px solid red;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
    rgba(0, 0, 0, 0.12) 0px -12px 30px, 
    rgba(0, 0, 0, 0.12) 0px 4px 6px, 
    rgba(0, 0, 0, 0.17) 0px 12px 13px, 
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  .left{
    margin: 0 auto;
    width: 98%;
  }

  .right{
    display: none;
  }

}

