.coin_tracker{
  margin-top: .5em;
}

.title_container{
  display: flex;
  justify-content: center;
}

.title{
  text-align: center;
  margin-right: 0.3em;
  font-size: 25px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding-top: .4em;
}

.assets{
  padding: 0;
  width: 100%;
  height: 460px;
  margin: 0 auto;
}

.category{
  color: rgb(255, 255, 255);
  font-size: 14px;
  display: flex;
  list-style: none;
  text-align: center;
  width: 95%;
  margin: 0 auto;
  font-weight: bold;
}
.lines{
  width: 100%;
  height: 150px;
  overflow-y:auto;
}
.ticker{
  min-width: 100px;
}
.name{
  min-width: 100px;
}
.avgPrice{
  min-width: 130px;
}
.shares{
  min-width: 105px;
}
.input{
  min-width: 105px;
}
.goal{
  min-width: 75px;
}