.profits{
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.title{
  padding-top: .2em;
  font-size: 25px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.profits{
  padding-top: .5em;
}

.profits ul{
  min-width: 400px;
  padding: 0;
  height: 98%;
}

.category{
  color: rgb(255, 255, 255);
  font-weight: bold;
  display: flex;
  font-size: 14px;
  text-align: center;
  width: 95%;
  margin: 0 auto;
}

.category li {
  padding: 0.4em;
  width: 100%;
}

.profits li{
  list-style: none;
}

.lines{
  width: 100%;
  height: 200px;
  overflow-y: auto;
  scrollbar-width: thin;
}


.name{
  min-width: 50px;
}
.symbol{
  min-width: 60px;
  padding: 0;
}
.purchased{
  min-width: 120px;
}
.current{
  min-width: 115px;
}
.earning{
  min-width: 85px;
}

.percentage{
  min-width: 90px;
}


@media screen and (min-width: 900px) and (max-width: 1200px) { 
  .name{
    display: none;
  }

  .symbol{
    min-width: 50px;
    padding: 0;
  }
  .percentage{
    min-width: 100px;
  }

}

@media screen and (min-width: 600px) and (max-width: 900px){ 
  .name{
    min-width: 55px;
  }
  .symbol{
    min-width: 50px;
  }
  .purchased{
    min-width: 115px;
  }
  .current{
    min-width: 115px;
  }
  .earning{
    min-width: 85px;
  }
  
  .percentage{
    min-width: 105px;
  }
}