.title{
  color: white;
  font-size: 30px;
}

.login {
  width: 25em;
  height: 15em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 14%;
}
.container{
  width: 25em;
}

.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  text-align: center;
}

.item {
  width: 80%;
  height: 20%;
  margin: 0.4em auto;
}
.button {
  cursor: pointer;
  --glow-color: rgb(255, 255, 255);
  --glow-spread-color: rgba(94, 94, 94, 0.144);
  --enhanced-glow-color: rgb(179, 179, 179);
  --btn-color: rgba(44, 44, 44, 0.411);
  border: .25em solid var(--glow-color);
  padding: 1em 3em;
  color: var(--glow-color);
  font-size: 15px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 10em .25em var(--glow-color),
         0 0 7em 1em var(--glow-spread-color),
         inset 0 0 .75em .25em var(--glow-color);
  text-shadow: 0 0 .01em var(--glow-color);
  position: relative;
  transition: all 0.3s;
}

.button::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: .7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}

.button:hover {
  color: black;
  background-color: var(--glow-color);
  box-shadow: 0 0 1em .25em var(--glow-color),
         0 0 4em 2em var(--glow-spread-color),
         inset 0 0 .75em .25em var(--glow-color);
}

.button:active {
  box-shadow: 0 0 0.6em .25em var(--glow-color),
         0 0 2.5em 2em var(--glow-spread-color),
         inset 0 0 .5em .25em var(--glow-color);
}
